@charset "utf-8";
.container-fluid {
}
.container-fluid {
    background-image: -webkit-linear-gradient(270deg,rgba(213,224,232,1.00) 13.47%,rgba(221,230,237,1.00) 16.59%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(213,224,232,1.00) 13.47%,rgba(221,230,237,1.00) 16.59%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(213,224,232,1.00) 13.47%,rgba(221,230,237,1.00) 16.59%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(213,224,232,1.00) 13.47%,rgba(221,230,237,1.00) 16.59%,rgba(255,0,0,1.00) 100%);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(213,184,163,0.77) 13.99%,rgba(143,133,126,1.00) 98.45%,rgba(255,221,0,1.00) 98.45%);
    background-image: -moz-linear-gradient(270deg,rgba(213,184,163,0.77) 13.99%,rgba(143,133,126,1.00) 98.45%,rgba(255,221,0,1.00) 98.45%);
    background-image: -o-linear-gradient(270deg,rgba(213,184,163,0.77) 13.99%,rgba(143,133,126,1.00) 98.45%,rgba(255,221,0,1.00) 98.45%);
    background-image: linear-gradient(180deg,rgba(213,184,163,0.77) 13.99%,rgba(143,133,126,1.00) 98.45%,rgba(255,221,0,1.00) 98.45%);
    color: rgba(29,22,108,1.00);
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: rgba(29,43,142,1.00);
}
.container-fluid {
    background-image: -webkit-linear-gradient(270deg,rgba(76,111,84,1.00) 84.97%,rgba(121,139,125,1.00) 95.86%);
    background-image: -moz-linear-gradient(270deg,rgba(76,111,84,1.00) 84.97%,rgba(121,139,125,1.00) 95.86%);
    background-image: -o-linear-gradient(270deg,rgba(76,111,84,1.00) 84.97%,rgba(121,139,125,1.00) 95.86%);
    background-image: linear-gradient(180deg,rgba(76,111,84,1.00) 84.97%,rgba(121,139,125,1.00) 95.86%);
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: rgba(251,245,245,1.00);
}
.container-fluid .container .text-center {
}
.container-fluid .container .text-center {
}
.container-fluid .container .text-center {
    color: rgba(241,241,241,1.00);
}
.navbar-nav.mr-auto .nav-item .nav-link {
}
.card.col-md-4.col-xl-12 .card-body .btn.btn-primary {
}
.card.col-md-4.col-xl-12 .card-body .btn.btn-primary {
    background-color: rgba(110,79,13,1.00);
}
#headingOne1 .mb-0 a {
}
#headingTwo1 .mb-0 .collapsed {
}
#headingTwo1 .mb-0 .collapsed {
}
#accordion1 .card #headingOne1 {
    background-color: rgba(104,71,41,1.00);
}
#accordion1 .card #headingTwo1 {
    background-color: rgba(107,71,43,1.00);
}
#accordion1 .card #headingThree1 {
    background-color: rgba(94,60,30,1.00);
}
#accordion1 .card #headingOne1 {
    color: rgba(247,243,243,1.00);
}
#headingOne1 .mb-0 a {
}
#accordion1 .card #collapseOne1 {
}
#accordion1 .card #collapseOne1 {
}
#headingOne1 .mb-0 a {
    color: rgba(240,237,238,1.00);
}
#headingTwo1 .mb-0 .collapsed {
    color: rgba(246,242,242,1.00);
}
#headingThree1 .mb-0 .collapsed {
}
#headingThree1 .mb-0 .collapsed {
    color: rgba(252,249,249,1.00);
}
.container-fluid {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(88,119,95,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(88,119,95,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(88,119,95,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(88,119,95,1.00) 100%);
}
.container-fluid {
}
.container-fluid {
}
.container-fluid {
    background-image: -webkit-linear-gradient(270deg,rgba(132,152,137,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(132,152,137,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(132,152,137,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(132,152,137,1.00) 100%,rgba(255,0,0,1.00) 100%);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(67,54,54,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(67,54,54,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(67,54,54,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(67,54,54,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-color: rgba(61,49,49,1.00);
}
#accordion1 .card #headingTwo1 {
    background-color: rgba(50,36,36,1.00);
}
#accordion1 .card #headingThree1 {
    background-color: rgba(70,49,49,1.00);
}
#accordion1 .card #headingTwo1 {
}
#accordion1 .card #headingTwo1 {
    background-color: rgba(59,42,42,1.00);
}
#accordion1 .card #headingOne1 {
    background-color: rgba(69,60,60,1.00);
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
    background-color: #686868;
}
.container-fluid .container .text-center {
}
Send Me a Message {
	color: #9F7D1B; background-color: #1F8F4B;
}

@media (max-width:768px){
	h1 {font-size: 40px;
		text-align: center;
		padding-left: 0px;
	}
}

@media (max-width:400px){
	h1 {font-size: 25px;
		
	}
}